<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Simple FastAPI Website">
    <meta name="author" content="Mr Akinola">
    <!-- Title and Icon -->
    <title>{% block title %}{% endblock %} Simple FastAPI Website</title>
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.ico') }}" sizes="32x32" />
    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body background="{{ url_for('static', path='/images/dark-wallpaper.jpg') }}">
    <header class="navigation-bar">
        {% include 'navbar.html' %}
    </header>
    <!-- Page Content  -->
    <div class="body-text">
        {% block page_content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <a href="https://github.com/mrakinola"><img src="/static/images/github-logo.png" width="24" height="24"></a>
        <a href="https://www.linkedin.com/in/ebenezer-temi-akinola-ba82111a1"><img src="/static/images/linkedin-logo.png"  width="24" height="24"></a>
        <p class="copyright">© 2022 Website created by MrAkinola</p>
    </footer>

</body>

</html>
