{% extends "base.html" %}

{% block title %}Simple FastAPI Website{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<main role="main" class="container">
    <div class="row">
        <div class="col">
            {{info.simple_text|safe}}
        </div>
    </div>
</main><!-- /.container -->

{{info.page}}


<footer class="col-md-6 mx-auto text-center text-gray-lighter">
    <a href="https://github.com/mrakinola"><img src="/static/images/github-logo.png" width="24" height="24"></a>
    <a href="https://www.linkedin.com/in/ebenezer-temi-akinola-ba82111a1"><img src="/static/images/linkedin-logo.png"  width="24" height="24"></a>
    <p class="copyright">© 2022 Website created by MrAkinola</p>
</footer>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
